/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */







.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(500deg);
  }

  to {
    transform: rotate(90000000deg);
  }
}


/* for array team india and australia array buttons(without image) */
/* .App {
  background-image: url( 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPLzH3MX517DjsFdhwosOmxkhhoq2ndsZxRw&s');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:50px;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
 
  min-height: 100vh;
  display: flex;  
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:black;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(500deg);
  }
  to {
    transform: rotate(90000000deg);
  }
}



body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}



h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

/* .teams {
  display: flex;
  justify-content: space-around;
} */

/* .team {
  
  padding: 20px;
  border-radius: 10px;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
/* width: 45%; */
/*  
}  */
/* 
h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

 .team-players {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} 
  */
/* -------------(without image array prog (button remove) after click-------------------------- */

/* .container {

  background-image: url('https://t4.ftcdn.net/jpg/06/34/70/57/360_F_634705766_xRlKdJ4uNsEqNnkd9YZo6Mm25aEr3DZI.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  padding: 40px;
}

.teamA {
  height: 90vh;
  width: 45%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px
}

.teamB {
  height: 90vh;
  width: 45%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px
} */

